# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache and output
dist/
build/


# TypeScript
*.tsbuildinfo

# Environment variables
.env

# MacOS files
.DS_Store

# VSCode files
.vscode/
